* {
    box-sizing: border-box;
    text-align: center;
}

h2 {
    margin-top: 50px;
}

#speedButton, #randomButton {
    cursor: pointer;
    box-shadow: 0 9px #999;
    padding: 5px;
    display: inline-block;
    width: 100px;
}

#speedButton:active, #randomButton:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


#game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
}

#restartButton {
    width: 100px; /*button still shows properly but allows it to be positioned with margin */
    margin: auto;
    margin-top: 20px;
}

button {
    width: 80px;
    display: block; /*allows it to be centered using auto margins */
    margin: auto;
}
#character {
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
}

#block {
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px; /*the block div comes after the character div so need to take the char divs height off (block div basically starts 50px off top of the game div because of the character div)*/
    background-color: blue;
    left: 480px;
    
}

#youAreDead {
    
    width: 500px;
    margin: auto;
    margin-top: 50px;
    display: none;
    opacity: 0;
}

#youAreDead img, #youAreDead h1 {
    width: 500px;
    margin: auto;
    text-align: center;
    
}
#youAreDead img {
    max-width: 15px;
    max-height: 15px;
    margin: auto;
    margin-top: 30px;
}
@keyframes jump {
    
    0% {top: 150px }
    30% { top: 100px }
    70% { top: 100px }
    100% { top: 150px }
}

@keyframes block {
    0% { left: 500px; }
    100% { left: -20px;}
}

@keyframes deadBody {
    0% { background-color: rgb(238, 199, 199) }
    30% { background-color: rgb(243, 117, 117)}
    70% { background-color: rgb(241, 8, 8) }

    100% { background-color: white }
}


@keyframes youAreDead {
    0% { opacity: 0 }
    100% { opacity: 1 }
   
}

@keyframes youAreDeadImage {
    /*gunna change the img original size from 150 to 10 and try to icnrease it here*/
    25% {
        transform: rotate(180deg);
    }
    
    50% { 
        transform: rotate(360deg);
           
    }

    75% { 
        transform: rotate(540deg);
    }
    100% { 
        transform: rotate(720deg);
        max-width: 150px;
        max-height: 150px;
      

    }
}

.youAreDeadImage {
  animation-name: youAreDeadImage;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

}

#youAreDead.youAreDead { /*Need this extra specificty to make the display style override. But for some reason the animation one which changes opacty does change regardless. (see below,had to use !important before making this more specifc*/
    display: block; /*Cant work out why i need this important. The animation overwrites the opacity in the youAreDead div but not display for some reason */
    animation: youAreDead 3000ms forwards; /*leaves the animation up at the end*/
    
}

.deadBody {
    animation: deadBody 3000ms linear;
}



.animateCharacter {
    animation: jump 300ms linear; /*Does the keyframe jump over 300ms at linear speed */
}

:root {
    --animationTime: 1s;
}

.animateBlock {
    
    animation: block var(--animationTime) infinite linear; /*Block links to the keyframe block, animation takes 1s, repeats infinitely at linear speed */
}